.profile__edit-button {
  margin: 0;
  padding: 0;
  min-width: 24px;
  max-height: 24px;
  background-image: url("../../../images/edit_button.svg");
  background-color: #000000;
  margin-left: 18px;
  margin-top: 38px;
  margin-right: 10px;
  padding: 0;
  border: none;
  outline:none;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.5;
}
