.form__input-error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* display: flex; */
  visibility: visible;
  /* opacity: 0; */
  color: #FF0000;
  /* position: absolute; */
  top: 143px;

  /* margin-right: 36px; */
  padding-right: 36px;
}
