.popup__edit-name {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  border: none;
}

.popup__edit-name::placeholder{
  color: black;
}

.popup__edit-name:focus {
  outline: none;
 }
