.popup__edit-activity {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 13px;
  border: none;
}

.popup__edit-activity::placeholder{
  color: black;
}

.popup__edit-activity:focus {
  outline: none;
 }
