.footer {
    margin: 0;
    padding: 0;
    min-width: 10px;
    margin-top: 68px;
    margin-bottom: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
  }
