.popup-photo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  background: rgba(0,0,0,.9);
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s opacity, 0.5s visibility;
}

@media screen and (max-width: 700px) {
  .popup-photo {
    min-width: 100px;
    }
  }
